.rgb,
.hex {
  width: 10vw;
  height: 33vh;
  text-align: center;
  color: white;
  font-family: roboto;
  display: flex;
  flex-flow: column;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem 0.4rem rgb(231, 231, 231);
  background: linear-gradient(
    221deg,
    rgba(237, 45, 45, 1) 0%,
    rgba(68, 209, 63, 1) 49%,
    rgba(85, 97, 212, 1) 100%
  );
  padding: 1rem;
}

input {
  border-radius: 0.3rem;
  text-align: center;
  height: 5vh;
  font-size: 0.8rem;
  font-weight: bold;
}
