body {
  background-image: url("../src/assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 15%;
}

h1 {
  color: white;
  font-size: 5vh;
}

span {
  color: rgb(241, 186, 2);
}

.diceContainer {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}

.dices,
.shake {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 10vh;
}

button {
  width: 33%;
  height: 7vh;
  border-radius: 1rem;
  font-size: 3vh;
}

button:hover {
  scale: 1.05;
  font-weight: bold;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 500ms;
}

@keyframes shake {
  0% {
    transform: skewY(-15deg);
  }
  5% {
    transform: skewY(15deg);
  }
  10% {
    transform: skewY(-15deg);
  }
  15% {
    transform: skewY(15deg);
  }
  20% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
