.dicePointsContainer {
  width: 15vh;
  height: 15vh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.4vh 0.2vh rgb(255, 174, 0);
  box-sizing: border-box;
  position: relative;
}

.dicePointLeft,
.dicePointLeftBottom,
.dicePointRight,
.dicePointRightBottom,
.dicePointCenter,
.dicePointMiddleLeft,
.dicePointMiddleRight {
  position: absolute;
  box-shadow: 0vh 0vh 0 0.17vh rgb(51, 51, 51);
  border-radius: 50%;
  border: none;
}

.dicePointLeft {
  left: 1vh;
  top: 1vh;
}

.dicePointRight {
  right: 1vh;
  top: 1vh;
}

.dicePointLeftBottom {
  bottom: 1vh;
  left: 1vh;
}

.dicePointRightBottom {
  bottom: 1vh;
  right: 1vh;
}

.dicePointCenter {
  left: calc(50% - 35px / 2);
  top: calc(50% - 35px / 2);
}

.dicePointMiddleLeft {
  top: calc(50% - 35px / 2);
  left: 1vh;
}

.dicePointMiddleRight {
  top: calc((50% - 35px / 2));
  right: 1vh;
}
